<h2 class="page-header" align="center"><%= t('devise.shared.login') %></h2>

<div class="container sessions-wrapper">
  <div class="col-md-4 col-md-offset-4 login-box-body">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group has-feedback">
        <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control', placeholder: t('devise.shared.email') %>
        <span class="fa fa-envelope-o form-control-feedback"></span>
      </div>

      <div class="form-group has-feedback">
        <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control', placeholder: t('devise.shared.password') %>
        <span class="fa fa-lock form-control-feedback"></span>
      </div>

      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me, t('devise.shared.remember_me'), class: 'label-member-me' %>
            </label>
          </div>
        </div>

        <div class="col-xs-4">
          <%= f.submit t('devise.shared.login'), class: 'btn btn-primary btn-block btn-flat' %>
        </div>
      </div>
    <% end %>

    <div class="clearfix"></div>

    <div align="center">
      <%= render 'devise/shared/links' %>
    </div>
  </div>
</div>
